# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>:
* Develop a solid understanding of the functionality of programming languages used in data analysis, such as R. Python, SAS and SQL, through code development and interpretation.
* Become familiar with data-oriented libraries in these languages, leveraging their functionalities to streamline programming tasks.
* Create interactive notebooks and strengthen the use of tools aimed at research and professional environments.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SAS
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. os
5. Seaborn

|Data Science Tools|
|---|
|R Studio|
|Jupyter Notebooks|
|Google Collab|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [17]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [20]:
200/60

3.3333333333333335

## Author
Daniel Esteban Mesias Vel√°squez